/* Webfont: MeshedDisplay-Black */
@font-face {
  font-family: 'MeshedDisplayBlack';
  src: url('../fonts/MeshedDisplay-Black.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/MeshedDisplay-Black.otf') format('opentype');
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: MeshedDisplay-Light */
@font-face {
  font-family: 'MeshedDisplayLight';
  src: url('MeshedDisplay-Light.eot');
  /* IE9 Compat Modes */
  src: url('MeshedDisplay-Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/MeshedDisplay-Light.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/MeshedDisplay-Light.woff2') format('woff2'),
    /* Modern Browsers */
    url('../fonts/MeshedDisplay-Light.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Newsreader';
  src: url('../fonts/Newsreader-Italic-VariableFont_opsz,wght.ttf') format('truetype'),
    /* Modern Browsers */
    url('../fonts/Newsreader-VariableFont_opsz,wght.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.header-nav li {
  text-underline-offset: 0.7em;
  padding: 4px 0;
}

.header-nav li a{
  display: block;
  padding: 10px;
  font-weight: bold;
}

.header-nav li:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
  background-color: #155824;
  text-decoration-color: #00a826;
}

.header-nav .current_page_item {
  text-decoration: underline;
}

.header-nav {
  display: flex;
  font-family: 'Poppins', 'Georgia', 'Times', 'Times New Roman', 'serif';
}


.header4-nav li:hover {
  color: #ff9900;
}

/* 博客分页样式 */
.pagination li:first-child *:not(.current) {
  margin-left: 16px;
}

.pagination .current {
  color: #ff9900;
  font-weight: bold;
}

/* 博客分页样式 */

/* 评论组件样式 */

#respond {
  font-family: 'Poppins', 'Georgia', 'Times', 'Times New Roman', 'serif';
}

#respond #reply-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: 'Poppins', 'Georgia', 'Times', 'Times New Roman', 'serif';
}

#respond .comment-form p {
  margin-bottom: 1rem;
}

#respond .comment-form input {
  flex-shrink: 1;
  height: 3rem
    /* 48px */
  ;
  padding-left: 1rem
    /* 16px */
  ;
  padding-right: 1rem
    /* 16px */
  ;
  font-size: 0.875rem
    /* 14px */
  ;
  font-size: 1rem
    /* 16px */
  ;
  line-height: 1.25rem
    /* 20px */
  ;
  line-height: 2;
  line-height: 1.5rem
    /* 24px */
  ;
  border-width: 1px;
  border-color: hsl(var(--bc) / var(0.2));
  --tw-border-opacity: 0;
  --tw-bg-opacity: 1;
  border-radius: var(--rounded-btn, 0.5rem);
  border-color: hsl(var(--a) / var(0.2));
  outline-color: hsl(var(--a) / 1);
}

#respond .comment-form label {
  display: block;
}

#respond .comment-form-cookies-consent {
  display: flex;
  align-items: center;
  gap: 8px;
}

#respond input#submit {
  cursor: pointer;
}

#respond .logged-in-as a:first-child {
  color: #ff9900;
  font-weight: bold;
}

#respond .logged-in-as a:first-child:hover {
  text-decoration: underline;
}

#respond .logged-in-as a:nth-child(2) {
  color: red;
  font-weight: bold;
  text-decoration: underline;
  display: block;
  width: fit-content;
}

#m-comment li {
  font-family: 'Poppins', 'Georgia', 'Times', 'Times New Roman', 'serif';
  list-style: none;
  padding: 16px 0;
  border-bottom: 1px solid #eaeaea;
}


#m-comment .avatar {
  border-radius: 100%;
}

#m-comment .comment-author cite {
  margin-right: 8px;
}

#m-comment .comment-author cite:hover {
  text-decoration: underline;
  color: #ff9900;
}

.comment-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.comment-body .comment-reply-link {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  border-color: hsl(var(--b2) / var(--tw-border-opacity));
  text-align: center;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 200ms;
  border-radius: 8px;
  padding: 0.5rem 1rem;
    /* 16px */
  ;
  font-size: 0.875rem
    /* 14px */
  ;
    /* 20px */
  ;
  line-height: 1em;
    /* 48px */
  ;
    /* 8px */
  ;
  font-weight: 600;
  text-decoration-line: none;
  text-decoration-line: none;
  border-width: var(--border-btn, 1px);
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  text-transform: var(--btn-text-case, uppercase);
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: transparent;
  --tw-text-opacity: 1;
  color: hsl(var(--bc) / var(--tw-text-opacity));
  outline-color: hsl(var(--bc) / 1);
}

.comment-body .comment-reply-link:hover {
  opacity: 0.9;
  background-color: hsl(var(--b2) / var(--tw-bg-opacity));
  outline: #0ea5e9;
}

/* 评论组件样式 */

#archive-sidebar li {
  text-decoration: underline;
}

#archive-sidebar li:hover {
  text-decoration: none;
  color: #0ea5e9
}

/* section2 swiper */
#default-swiper .swiper-slide img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-height: 80vh;
  border-radius: 1rem;
}

/* section7 swiper */
/* #three-column-swiper .swiper-slide img {
  height: 20rem;
} */
